:root {
	--color-white: hsl(0,0%,90%);
	--color-black: hsl(0,0%,10%);
	--color-gray: hsl(0,0%,60%);
	--color-dark-gray: hsl(0,0%,30%);
	--color-blue: #272f4d;
	--color-dark-blue: #232943;
}

@media (prefers-color-scheme: dark) {
	:root {

	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	min-height: 100vh;
	color: var(--color-white);
	background: var(--color-blue);
	transition:
		color 0.5s,
		background-color 0.5s;
	line-height: 1.6;
	font-family:
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.color-white {
	color: var(--color-white)
}

.color-black {
	color: var(--color-black)
}
